pipeline/IncrementalLoad.json
{
	"name": "IncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "lastInsertedDataDate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(last_modified) as lastInserted from usersADF",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "getLastDateUserADFtblandcontrolTBl",
						"type": "DatasetReference",
						"parameters": {
							"dbNameDataSet": {
								"value": "@pipeline().parameters.dbName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "last_mDateOFTblControl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select last_load from tblControlADF",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "getLastDateUserADFtblandcontrolTBl",
						"type": "DatasetReference",
						"parameters": {
							"dbNameDataSet": {
								"value": "@pipeline().parameters.dbName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_mDateOFTblControl",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lastInsertedDataDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from usersADF where \nlast_modified <= '@{activity('lastInsertedDataDate').output.firstRow.lastInserted}' \nand last_modified > '@{activity('last_mDateOFTblControl').output.firstRow.last_load}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "getLastDateUserADFtblandcontrolTBl",
						"type": "DatasetReference",
						"parameters": {
							"dbNameDataSet": {
								"value": "@pipeline().parameters.dbName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "FORsinkIncrementalLoad",
						"type": "DatasetReference",
						"parameters": {
							"dbNameDatasets": {
								"value": "@pipeline().parameters.dbName2",
								"type": "Expression"
							},
							"schemaNamedataset": {
								"value": "@pipeline().parameters.SchemaName",
								"type": "Expression"
							},
							"tblNamedataset": {
								"value": "@pipeline().parameters.tableName2",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@pipeline().parameters.spName",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"newLoadDate": {
							"value": {
								"value": "@activity('lastInsertedDataDate').output.firstRow.lastInserted",
								"type": "Expression"
							},
							"type": "String"
						},
						"tblName": {
							"value": "users",
							"type": "String"
						},
						"updateTable": {
							"value": "tblControlADF",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "dynConnSqlServerDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": {
							"value": "@pipeline().parameters.dbName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"dbName": {
				"type": "string"
			},
			"SchemaName": {
				"type": "string"
			},
			"tablNAme": {
				"type": "string"
			},
			"dbName2": {
				"type": "string"
			},
			"tableName2": {
				"type": "string"
			},
			"spName": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-29T06:16:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}