pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://dummy.restapiexample.com/api/v1/employees ",
					"method": "GET"
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://blobadlsdemo1.blob.core.windows.net/container1/out.json?sv=2020-08-04&ss=bfqt&srt=sco&sp=rwdlacupx&se=2022-04-27T21:28:15Z&st=2022-04-27T13:28:15Z&spr=https&sig=jQT%2BgjUjqU1BYjj0XJ8PoA00lT1GEO2brqOPOF7gaIc%3D",
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "BlockBlob"
					},
					"body": {
						"value": "@activity('Web1').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-04-27T13:35:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}