pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://reqres.in/api/products",
					"method": "GET"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1, activity('Web1').output.total_pages)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['page']"
											},
											"sink": {
												"name": "page",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['per_page']"
											},
											"sink": {
												"name": "per_page",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['total']"
											},
											"sink": {
												"name": "total",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['total_pages']"
											},
											"sink": {
												"name": "total_pages",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id"
											}
										},
										{
											"source": {
												"path": "['name']"
											},
											"sink": {
												"name": "name"
											}
										},
										{
											"source": {
												"path": "['year']"
											},
											"sink": {
												"name": "year"
											}
										},
										{
											"source": {
												"path": "['color']"
											},
											"sink": {
												"name": "color"
											}
										},
										{
											"source": {
												"path": "['pantone_value']"
											},
											"sink": {
												"name": "pantone_value"
											}
										},
										{
											"source": {
												"path": "$['support']['url']"
											},
											"sink": {
												"name": "URL"
											}
										},
										{
											"source": {
												"path": "$['support']['text']"
											},
											"sink": {
												"name": "Text"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference",
									"parameters": {
										"QueryParams": {
											"value": "?page=@{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"SchemaNameDataset": "dbo",
										"TableNameDataSet": {
											"value": "WebapiDataTable@{item()}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}